<%- include("../../../../../important/admin/views/_layouts/adminheader") %>
    <h2 class="admin-page__main-title">Product Stats</h2>
    <% include ../../../../../important/admin/views/_layouts/messages/messages %>
    <button class="admin-button admin-button--add-something">
        <a class="btn-text" href="/admin/products">
            <i class="fa fa-hand-point-left"></i>
        </a>
    </button>
    <br>
    <br>
    <div class="blocks-holder">
        <div class="admin-blocks">
            <a href="/admin/products">
                <h5>
                    basic
                </h5>
                <h4>
                    orders:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    products:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    product categories:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    active coupons:
                </h4>
                <h5>
                    -
                </h5>
            </a>
        </div>
        <div class="admin-blocks">
            <a href="/admin/products/orders">
                <h5>
                    order basics
                </h5>
                <h4>
                    total orders:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    pending orders:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    active orders:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    completed orders:
                </h4>
                <h5>
                    -
                </h5>
            </a>
        </div>
        <div class="admin-blocks">
            <a href="/admin/products/coupons">
                
                <h5>
                    coupon basics
                </h5>
                <h4>
                    total used:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    active:
                </h4>
                <h5>
                    -
                </h5>
                
                <h4>
                    inactive:
                </h4>
                <h5>
                    -
                </h5>
            </a>
        </div>
        <div class="admin-blocks">
            <a href="/admin/products">
                <h5>
                    inventory basics
                </h5>
                <h4>
                    orders:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    products:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    product categories:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    active coupons:
                </h4>
                <h5>
                    -
                </h5>
            </a>
        </div>
        <div class="admin-blocks">
            <a href="/admin/product-categories">
                <h5>
                    products in categories
                </h5>
                <h4>
                    orders:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    products:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    product categories:
                </h4>
                <h5>
                    -
                </h5>
                <h4>
                    active coupons:
                </h4>
                <h5>
                    -
                </h5>
            </a>
        </div>
    </div>
<%- include("../../../../../important/admin/views/_layouts/adminfooter") %>