<div class="admin-form__form-options--bottom-group">
    <div class="admin-form__form-options admin-form__form-options--second-group">
        <div class="admin-form__group">
            <label for="">Colors</label>
            <textarea class="admin-form--disabled-resize" rows="4" name="colors" placeholder="Place all colors seperated by a comma. EX. blue, pink, lime green"><%= colors %></textarea>
        </div>
        <div class="admin-form__group">
            <label for="">Sizes</label>
            <textarea class="admin-form--disabled-resize" rows="4" name="sizes" placeholder="Place all sizes seperated by a comma. Ex. small, large, largest, very large"><%= sizes %></textarea>
        </div>
    </div>
</div>